.leaderboardContainer {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px; 
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  padding-top:80px ;
}

.leaderboardRow {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(#383624, #282617);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.leaderboardRow:hover{
  background: #aca788; 
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.playerName {
  font-size: 30px;
  font-weight: bold;
}

.playerSign {
  font-size: 30px;
  margin-top: 10px;
}

.scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 50px;
}

.score {
  font-size: 60px;
  font-weight: bold;
}

.vs {
  font-size: 30px;
  font-weight: bold;
}

.header {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 320px;
}

.back {
  background-color: #373523;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back:hover {
  background-color: #aca788; 
}

@media (max-width: 768px) {
  .leaderboardContainer {
    padding: 10px;
  }

  .leaderboard {
    width: 90%; 
  }

  .leaderboardRow {
    height: auto; 
    flex-direction: column; 
    align-items: center;
  }

  .playerContainer {
    width: 100%; 
  }

  .scoreContainer {
    width: 100%; 
    justify-content: space-around;
  }

  .header {
    flex-direction: column; 
    align-items: flex-start; 
    gap: 20px;
  }
}
