
.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  width: 70%;
  padding: 0 15%;
}

.container {
  background: linear-gradient(#383624, #282617);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  height: auto;
  width: 600px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.formContainer2{ 
  width: 100%;
}

.title {
  color: white;
  font-size: 40px;
}

.register-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  color: white;
  font-size: 25px;
  padding-bottom: 25px;
}

.inputLabel {
  width: 30%;
}

.inputClass {
  all: unset;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: #aca788;
  color: black;
  width: 70%;
}

.button {
  padding: 10px 70px;
  border-radius: 15px;
  font-size: 25px;
  cursor: pointer;
}

.register-input-button {
  border:0.5px solid #f6e35a;
}

.restart {
  margin-top: 20px;
  height: 50px;
  background-color: black;
  border: 2px solid blue;
  color: aliceblue;
}

.restart:hover,
.register-input-button:hover {
  background-color: #aca788;
  color: black;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
